body {
  background-color: $themeBackgroundColor;
  color: $themeFontColor;
  margin: 0;

  h1.main {
    font-family: $themeFont;
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    margin: 0;
    padding-top: 1em;
  }

  @media screen and (min-width: 35em) {
    h1.main {
      font-size: 48pt;
    }
  }

  @media screen and (min-width: 70em) {
    h1.main {
      font-size: 60pt;
      margin-top: 1em;
    }
  }

}
