.content {
  font-family: $themeFont;
  font-style: italic;
  padding: 1em;
  margin: 0;
  font-size: 16pt;
}

@media screen and (min-width: 35em) {
  .content {
    text-align: center;
    padding: 1em 3em;
    font-size: 20pt;
  }
}

@media screen and (min-width: 70em) {
  .content {
    padding: 2em 6em;
    font-size: 24pt;
  }
}
