.headerkyr {
  text-align: center;
  font-size: 30pt;
  border-top: 1px solid #241d1c;
  padding-top: 2em;
}

.kyr {
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  color: #000000;
  border-bottom: 1px solid #241d1c;
  padding-bottom: 6em;
  text-align: center;
  section {
    margin: 1em;
    h3 {
      text-align: center;
      margin: 0;
      font-size: 22pt;
    }
    p {
      padding: 1em 2em;
    }
  }
}

@media screen and (min-width: 35em) {
  .kyr {
    font-size: 18pt;
  }
}
