.headerkyr {
  text-align: center;
  font-size: 30pt;
}

.kyr {
  display: flex;
  flex-direction: column;
  font-size: 13pt;
  color: #000000;
  section {
    margin: 1em;
    h3 {
      text-align: center;
      margin: 0;
    }
  }
}

@media screen and (min-width: 35em) {
  .kyr {
    font-size: 18pt;
  }
}
