.headerkyr {
  text-align: center;
}

.kyr {
  display: flex;
  font-size: 13pt;
  color: #000000;
  section {
    margin: 1em;
  }
}

@media screen and (min-width: 35em) {
  .kyr {
    font-size: 18pt;
  }
}
