.incident-form {
  font-family: $themeFont;

  .title {
    color: #c22929;
    text-align: center;
    border-top: .2em solid #242323;
    padding: 1em 0 0 0;
  }

  .discrimination-type {
    display: flex;
    flex-direction: column;
    border: .2em solid #242323;
    padding: 3em;
    margin: .3em;
    border-radius: 10px;
    box-shadow: 1px 3px 1px #242323;
    font-size: 15pt;
    font-weight: bold;
    .type {
      font-size: 12pt;
      font-weight: normal;
      padding: .3em;
    }
  }

  .report-text {
    display: flex;
    flex-direction: column;
    border: .2em solid #242323;
    border-radius: 10px;
    box-shadow: 1px 3px 1px #242323;
    margin: 3em .3em;
    padding: 2.5em;
    label.content {
      padding: .3em;
      font-style: normal;
      font-size: 15pt;
    }
    textarea#reportcontent {
      height: 200px;
      margin: .3em;
      border-radius: 10px;
      color: #000000;
    }
  }

  fieldset.location {
    border: .2em solid #242323;
    border-radius: 10px;
    box-shadow: 1px 3px 1px #242323;
    padding: 3em;
    margin: 2em .3em;
    .form-control {
      padding: .3em;
    }
    h3 {
      font-size: 15pt;
      font-weight: bold;
      margin: 0;
      padding: .3em;
    }
    .location-det {
      font-weight: normal;
      font-size: 12pt;
    }
  }

  .button {
    text-align: center;
    padding: 0 0 10em 0;
    border-bottom: .2em solid #242323;
    .btn {
      width: 60%;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 35em) {
    .title {
      font-size: 30pt;
      text-shadow: 1px 1px 2px #4a2727;
      font-weight: bold;
      padding: 1em 0 .5em 0;
    }

    .discrimination-type {
      width: 70%;
      margin: 1em auto;
      padding: 4em;
      .type {
        font-size: 15pt;
      }
    }

    .report-text {
      width: 70%;
      margin: 3em auto;
      padding: 3.5em;
      label.content {
        text-align: left;
        padding: .5em 1em;
        font-size: 15pt;
      }
      textarea#reportcontent {
        width: 100%;
        margin: 0 auto 1em auto;
        font-size: 15pt;
      }
    }

    fieldset.location {
      width: 70%;
      margin: 3em auto;
      padding: 4em;
      h3 {
        padding: .5em .5em;
        font-size: 15pt;
      }
      aside {
        padding: .5em;
      }
      .location-det {
        font-size: 15pt;
      }
      .form-control {
        font-size: 15pt;
      }
    }
  }

  @media screen and (min-width: 70em) {
    .title {
      font-size: 40pt;
    }
    .discrimination-type {
      width: 80%;
      font-size: 25pt;
      padding: 2.5em;
      text-align: center;
      .type {
        font-size: 25pt;
        text-align: left;
      }
    }

    .report-text {
      width: 80%;
      label.content {
        font-size: 25pt;
        padding: 0 0 .3em 0;
      }
      textarea#reportcontent {
        width: 100%;
        font-size: 20pt;
        height: 250px;
      }
    }

    fieldset.location {
      width: 80%;
      h3 {
        font-size: 25pt;
        padding: 0 0 .3em 0;
      }
      .location-det {
        font-size: 25pt;
      }
      .form-control {
        font-size: 20pt;
      }
    }

    .button {
      padding: 3em 0 10em 0;
      .btn {
        width: 80%;
      }
    }
  }
}
