.map-info {
  text-align: center;
  font-size: 14pt;
}

.alert-info {
  margin: 1em;
  text-align: center;
}

.alert-warning {
  text-align: center;
  font-size: 14pt;
  margin: 1em;
}

section.data {
  color: #000000;
}
