<h2>Definitions</h2>

<p>Click on the links for more detail.</p>

<h3>Discrimination</h3>
<ul>
  <li>
    "The unjust or prejudicial treatment of different categories of people..."
    <a href='https://en.oxforddictionaries.com/definition/discrimination' target='_blank'>
    Oxford Dictionary</a>
  </li>
  <li>
    "Bias or prejudice resulting in denial of opportunity, or unfair treatment regarding selection, promotion, or transfer.
    Discrimination is practiced commonly on the grounds of age, disability, ethnicity, origin, political belief, race,
    religion, sex, etc. factors which are irrelevant to a person's competence or suitability."
    <a href='http://www.businessdictionary.com/definition/discrimination.html' target='_blank'>
    Buisness Dictionary</a>
  </li>
  <li>
    "The treatment of a person or particular group of people differently, in a way that is worse than the way people are usually treated."
    <a href='http://dictionary.cambridge.org/us/dictionary/english/discrimination' target='_blank'>
    Cambridge Dictionary</a>
  </li>
  <li>
    "Discrimination is the selection for unfavourable treatment of an individual or individuals on the basis of: gender, race, colour or
    ethnic or national origin, religion, disability, sexual orientation, social class, age (subject to the usual conventions on retirement),
    marital status or family responsibilities, or as a result of any conditions or requirements that do not accord with the principles of
    fairness and natural justice."
    <a href='http://www.unesco.org/new/en/social-and-human-sciences/themes/international-migration/glossary/discrimination/' target='_blank'>
    United Nations Educational, Scientific, and Cultural Organization</a>
  </li>
</ul>

<h3>Micro-Agressions</h3>
<ul>
  <li>
    "A subtle but offensive comment or action directed at a minority or other nondominant group that is often unintentional or unconsciously
    reinforces a stereotype."
    <a href='http://www.dictionary.com/browse/microaggression' target='_blank'>
    Dictionary.com</a>
  </li>
  <li>
    "A comment or action that subtly and often unconsciously or unintentionally expresses a prejudiced attitude toward a member of a marginalized
    group."
    <a href='https://www.merriam-webster.com/dictionary/microaggression' target='_blank'>
    Merriam-Webster Dictionary</a>
  </li>
  <li>
    "A statement, action, or incident regarded as an instance of indirect, subtle, or unintentional discrimination against members of a marginalized
    group such as a racial or ethnic minority."
    <a href='https://www.google.com/search?q=definition+of+discrimination&oq=definition+of+discrimi&aqs=chrome.0.0j69i57j0l4.5303j0j7&sourceid=chrome&ie=UTF-8#q=micro+aggression+definition'
    target='_blank'>
    Google</a>
  </li>
</ul>
