<header>
  <h1>discriminHATE</h1>
</header>

<p class='content'>Have you ever been in a situation where something felt off, and at the same time you
  didn't feel like you had a voice or an outlet? Have you have ever felt singled
  out, discrinmated against, or victimized? Was this based on gender, gender
  identity, race, religion, disability, or any other social or physical factor?
  Find your voice here. Tell your story in real time. Don't discriminHATE, help
  us map hate out of the picture.</p>

<fb:login-button
  scope='public_profile,email'
  onlogin='getLoginStatus()'
  autologoutlink='true'
  size='xlarge'>
</fb:login-button>
