<h2 class='headerkyr'>Know Your Rights</h2>

<aside class='kyr'>
  <section class='panel panel-info'>
    <h3 class='panel-heading'>At the Airport</h3>
    <p class='panel-body'>C'mon Dad, just let me bite down on the bean. Butts. Dr. Yap is dreamy. When he's looking at my molars, it's like he's looking into my soul. I know how the shark thinks. It's confused. It doesn't know why we want to kill it. It just wants to go home. Follow me fellas...Lets go somewhere where the sixteen of us can be alone. Everyone touched each other's butts, and it was great. The second time hurt the most. Just when I think I'm out, those cheeks pull me right back in. Tina reached towards Jimmy Junior's butt: 'Your lips say no but your butt says yes.' I didn't know our county was bi. Good for us. Jimmy Jr. had a chance to ride the Tina truck, but now it's headed straight for Joshville. Toot-toot. My bra's chafing me. So I think I'm being attacked by zombies and I start screaming, 'Do you wanna make out?' And I make out with it. I can't tell where your back ends and your butt begins.</p>
  </section>

  <section class='panel panel-info'>
    <h3 class='panel-heading'>When being stopped by police</h3>
    <p class='panel-body'>Detention is no big deal. Don't have a crap attack. Ugg, my heart just pooped its pants. Do you think horses get songs stuck in their heads? The hand wants what the hand wants. Crap attack? Don't have one? I've logged over 3,000 fantasy hours on my relationship with Jimmy Jr. You don't just throw that away. If I were a hamburger you'd come and watch! I'm a smart, strong, sensual woman. This is such a snore-gasm. We can make this work. We can work out a dating wheel, just like a chore wheel. Let's put the try in triangle. Detention is no big deal. Don't have a crap attack. I can't tell where your back ends and your butt begins. Dear Diary: Tonight I'm sneaking off to the abandoned taffy factory to look for treasure. Also, if boys had uteruses, they'd be called duderuses. The second time hurt the most.</p>
  </section>

  <section class='panel panel-info'>
    <h3 class='panel-heading'>As someone with a disability</h3>
    <p class='panel-body'>I could go to jail, or hell, or jail-hell. Hey, you don't want to mess with my sister. She'll wear down your self esteem over a period of years. Drop the towel. Gene, you saved us. I owe you my life. Hey, you don't want to mess with my sister. She'll wear down your self esteem over a period of years. This is like watching two monkeys at the puberty zoo. Dad, if you believe you're beautiful, you will be. I did. I'm compiling a list of people I can mate with to repopulate the Earth. Sausage leather belts. This is where I thrash. If we see any mermaids, I'm gonna ask them where their merginas are. I'm compiling a list of people I can mate with to repopulate the Earth. Everyone began to touch each other's butts. I don't know. Eating lobster? It goes against everything we were taught to believe.</p>
  </section>
</aside>
