<h2 class='headerkyr'>Know Your Rights</h2>

<aside class='kyr'>

  <section class='panel panel-info'>
    <h3 class='panel-heading'>At the Airport</h3>
    <p class='panel-body'>The <a href='https://www.aclu.org/' target='_blank'>American Civil Liberties Union</a> provides answers for how to handle situations when you are at the airport or using another port of
    entry into the United States <a href='https://www.aclu.org/know-your-rights/what-do-when-encountering-law-enforcement-airports-and-other-ports-entry-us' target='_blank'>
    HERE</a>.</p>
  </section>

  <section class='panel panel-info'>
    <h3 class='panel-heading'>When Being Stopped by Police</h3>
    <p class='panel-body'>The <a href='https://www.aclu.org/' target='_blank'>American Civil Liberties Union</a> "provides tips for interacting with police and understanding your rights"
    <a href='https://www.aclu.org/know-your-rights/what-do-if-youre-stopped-police-immigration-agents-or-fbi' target='_blank'>HERE</a>.</p>
  </section>

  <section class='panel panel-info'>
    <h3 class='panel-heading'>As Someone with a Disability</h3>
    <p class='panel-body'>"Since 1973, numerous laws and regulations have been enacted and promulgated to protect individuals with disabilities." <a href='https://www.aaaed.org/aaaed/default.asp'
    target='_blank'>American Association for Access, Equity and Diversity</a></p>
    <p>Click <a href='https://www.aaaed.org/aaaed/Disability_Issues.asp' target='_blank'>HERE</a> for the full list.</p>
  </section>

  <section class='panel panel-info'>
    <h3 class='panel-heading'>As Someone Who is LGBT</h3>
    <p class='panel-body'>For information on Obama's executive order regarding the issue of equality as it relates to law click <a href='https://www.aaaed.org/aaaed/LGBT_Issues1.asp' target='_blank'>
    HERE</a>.
    For information specifically related to being Trangender click <a href='https://www.aclu.org/know-your-rights/transgender-people-and-law' target='_blank'>HERE</a>.</p>
  </section>

  <section class='panel panel-info'>
    <h3 class='panel-heading'>Related to Sexual Assault</h3>
    <p class='panel-body'>Click <a href='https://www.aaaed.org/aaaed/Title_IX2.asp' target='_blank'>
    HERE</a> for information on Title IX and the rights it guarantees.
    For questions and answers provided by the <a href='https://www.aclu.org/' target='_blank'>American Civil Liberties Union</a> click <a href='https://www.aclu.org/know-your-rights/title-ix-and-sexual-assault' target='_blank'>HERE</a>.</p>
  </section>

  <section class='panel panel-info'>
    <h3 class='panel-heading'>Other</h3>
    <p class='panel-body'>The <a href='https://www.aclu.org/' target='_blank'>American Civil Liberties Union</a> provies an extensive list of scenarios regarding personal rights. Explore them <a href='https://www.aaaed.org/aaaed/Title_IX2.asp' target='_blank'>
    HERE</a>.</p>
  </section>

</aside>
