<section class='about-all'>
  <h3 class='about'>About the Site</h3>
  <p class='info'>
    My name is Sarah Graves Smith and I completed a three month intensive coding course for JavaScript at The Iron Yard.
    For my final project I wanted to create a place where people would feel safe sharing their stories. We all too often
    bite our tongues in the face of discrimination. The normalization of hate needs to end.
    Even if you are not ready to share your story, this site will give you information
    on your rights and who can help should you need it.
  </p>

  <p class='info bold'>
    In the words of former Attorney General to the United States Loretta Lynch "But
    while I cannot guarantee the absence of prejudice – I can guarantee the presence
    of justice."
  </p>

  <p class='info'>
    The more information we have on discrimination, the more we can do to fight it. Take your
    the first step toward justice here. Together we can map hate out of the picture.
  </p>
</section>

<section class='bootstrap'>
  <aside class='panel panel-info'>
    <h3 class='panel-heading'>What is Discrimination?</h3>
    <ul class='panel-body'>
      <li class='def'>
        "The unjust or prejudicial treatment of different categories of people..."
      </li>
      <li class='def'>
        <a href='https://en.oxforddictionaries.com/definition/discrimination' target='_blank'>
        Oxford Dictionary</a>
      </li>
      <li class='def'>
        "Bias or prejudice resulting in denial of opportunity, or unfair treatment regarding selection, promotion, or transfer.
        Discrimination is practiced commonly on the grounds of age, disability, ethnicity, origin, political belief, race,
        religion, sex, etc. factors which are irrelevant to a person's competence or suitability."
      </li>
      <li class='def'>
        <a href='http://www.businessdictionary.com/definition/discrimination.html' target='_blank'>
        Buisness Dictionary</a>
      </li>
      <li class='def'>
        "The treatment of a person or particular group of people differently, in a way that is worse than the way people are usually treated."
      </li>
      <li class='def'>
        <a href='http://dictionary.cambridge.org/us/dictionary/english/discrimination' target='_blank'>
        Cambridge Dictionary</a>
      </li>
      <li class='def'>
        "Discrimination is the selection for unfavourable treatment of an individual or individuals on the basis of: gender, race, colour or
        ethnic or national origin, religion, disability, sexual orientation, social class, age (subject to the usual conventions on retirement),
        marital status or family responsibilities, or as a result of any conditions or requirements that do not accord with the principles of
        fairness and natural justice."
      </li>
      <li class='def'>
        <a href='http://www.unesco.org/new/en/social-and-human-sciences/themes/international-migration/glossary/discrimination/' target='_blank'>
        United Nations Educational, Scientific, and Cultural Organization</a>
      </li>
    </ul>
  </aside>

  <aside class='panel panel-info'>
    <h3 class='panel-heading'>What are Micro-Agressions?</h3>
    <ul class='panel-body'>
      <li class='def'>
        "A subtle but offensive comment or action directed at a minority or other nondominant group that is often unintentional or unconsciously
        reinforces a stereotype."
      </li>
      <li class='def'>
        <a href='http://www.dictionary.com/browse/microaggression' target='_blank'>
        Dictionary.com</a>
      </li>
      <li class='def'>
        "A comment or action that subtly and often unconsciously or unintentionally expresses a prejudiced attitude toward a member of a marginalized
        group."
      </li>
      <li class='def'>
        <a href='https://www.merriam-webster.com/dictionary/microaggression' target='_blank'>
        Merriam-Webster Dictionary</a>
      </li>
      <li class='def'>
        "A statement, action, or incident regarded as an instance of indirect, subtle, or unintentional discrimination against members of a marginalized
        group such as a racial or ethnic minority."
      </li>
      <li class='def'>
        <a href='https://www.google.com/search?q=definition+of+discrimination&oq=definition+of+discrimi&aqs=chrome.0.0j69i57j0l4.5303j0j7&sourceid=chrome&ie=UTF-8#q=micro+aggression+definition'
        target='_blank'>
        Google</a>
      </li>
    </ul>
  </aside>
</section>

<section class='resources'>
  <h3 class='help'>Who can Help?</h3>
  <ul>
    <!-- list of organizations that can help -->
    <!-- divided by discrimation type -->
    <!-- links to sites/report pages -->
    <li class='help-list'>
      "The <a href='https://www.aclu.org/' target='_blank'>ACLU</a> protects your freedom through a nationwide network of staffed offices in every state, Washington, D.C., and Puerto Rico.
      To request legal assistance or get involved, find your local ACLU affiliate."
      <a href='https://www.aclu.org/about/affiliates?redirect=affiliate' target='_blank'>
       (HERE)</a>
    </li>
    <li class='help-list'>
      To report an incident to the
      <a href='https://www.adl.org/?gclid=CjwKEAjwlpbIBRCx4eT8l9W26igSJAAuQ_HGY_pgJg_hDUdyEva6Bk8-nZS0HECQNIFpUm6sZNWXNRoC7Ovw_wcB' target='_blank'>
      Anti-Defamation League</a> page click
      <a href='https://secure2.convio.net/adl/site/SPageNavigator/Report/Incident.html' target='_blank'>HERE</a>.
    </li>
  </ul>
</section>
