<form>

  <h2>Report the Incident</h2>

  <aside class='discrimination type'>
    Type of Discrimination or Micro-Agression

    <label>
      <input type='radio' name='type-of-discrimination' value='racial'>
      Racial
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='gender'>
      Gender Related
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='sexual-orientation'>
      Related to Sexual Orientation
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='transgender'>
      Related to Gender Identification (Transgender)
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='disability'>
      Related to a Disability (Physical or Intellectual)
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='religion'>
      Related to Religion
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='age'>
      Related to Age
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='pregnancy'>
      Related to Pregnancy
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='other'>
      Other
    </label>
  </aside>

  <aside class='report-text'>
    <label for='report-content'>Describe the Incident</label>
    <textarea name='report-content' id='reportcontent'></textarea>
  <aside>

  <fieldset>
    <legend>Location of Incident</legend>

    <aside class='address'>
      <label for='address-input'>Address</label>
      <input type='text' name='address-input' id='address' placeholder='1600 Pennsylvania Ave NW'>
    </aside>

    <aside class='city'>
      <label for='city-input'>City</label>
      <input type='text' name='city-input' id='city' placeholder='Washington'>
    </aside>

    <aside class='state'>
      <label for='state-input'>State</label>
      <input type='text' name='state-input' id='state' placeholder='DC'>
    </aside>

    <aside class='zip'>
      <label for='zipcode-input'></label>
      <input type='text' name='zipcode-input' id='zipcode' placeholder='20500'>
    </aside>
  </fieldset>

  <input type='submit' value='Submit My Report'>

</form>
