<form>

  <h2>Report the Incident</h2>

  <aside>
    Type of discrimination or micro-agression

    <label>
      <input type='radio' name='type-of-discrimination' value='racial'>
      Racial
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='gender'>
      Gender Related
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='sexual-orientation'>
      Related to Sexual Orientation
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='transgender'>
      Related to Gender Identification (Transgender)
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='disability'>
      Related to a Disability (Physical or Intellectual)
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='religion'>
      Related to Religion
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='age'>
      Related to Age
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='pregnancy'>
      Related to Pregnancy
    </label>

    <label>
      <input type='radio' name='type-of-discrimination' value='other'>
      Other
    </label>
  </aside>

</form>
